<!-- Header -->
<header class="site-header">
  <nav class="site-nav">
    <!-- Logo -->
    <div class="site-logo">
      <a href="#">
        <svg width="50" height="40">
          <title>Logo</title>
          <use class="logo" xlink:href="assets/symbols/logo.svg#logo" width="50" height="40" />
        </svg>
      </a>
    </div>

    <!-- Menu -->
    <div class="site-menu">
      <!-- Navigation -->
      {%- for section in site.sections -%}
      <div class="site-menu-item">
        <button
          type="button"
          class="nav-button"
          id="{{ section.sectionID }}-nav"
          onclick="functionforscroll('{{ section.sectionID }}')"
        >
          {{ section.sectionID | capitalize }}
        </button>
      </div>
      {%- endfor -%}

      <!-- Theme button -->
      <div class="site-menu-item">
        <button title="Toggle Theme" class="theme-toggle">
          <svg class="light-theme-button" width="40" height="40">
            <title>Light theme button</title>
            <use xlink:href="assets/symbols/sun.svg#sun" width="40" height="40" />
          </svg>
          <svg class="dark-theme-button" width="40" height="40">
            <title>Dark theme button</title>
            <use xlink:href="assets/symbols/moon.svg#moon" width="40" height="40" />
          </svg>
        </button>
      </div>
    </div>
  </nav>
</header>
