<head>
  <!-- Meta -->
  <meta charset="”utf-8″" />
  <meta name="language" content="English" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ site.title }}</title>

  {% seo title = false %}
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | absolute_url }}" />

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="assets/symbols/logo-favicon.svg" />
  <link rel="icon" type="image/png" hyref="assets/images/logo-favicon.png" />

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer="defer"></script>
</head>
