<!-- Head -->
<head>
  <!-- Meta -->
  <meta charset="”utf-8″" />
  <meta name="language" content="English" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ site.title }}</title>

  {% seo title = false %}
  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | absolute_url }}" />

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="assets/symbols/logo-favicon.svg" />
  <link rel="icon" type="image/png" hyref="assets/images/logo-favicon.png" />

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" defer="defer"></script>
  {% assign static_scripts = site.static_files | where: "extname", ".js" %}
  {% assign all_scripts = site.pages | where_exp:"item", "item.path contains 'assets/js'" | concat: static_scripts %}
  {% for script in all_scripts -%}
  {% if script.url -%}
  <script src="{{ script.url }}" defer="defer"></script>
  {%- else %}
  <script src="{{ script.path }}" defer="defer"></script>
  {%- endif -%}
  {% endfor -%}
</head>
