<!-- Header -->
<header class="site-header">
  <nav class="site-nav">
    <!-- Logo -->
    <div class="site-logo">
      <button 
        class="logo-button"
        type="button"
        onclick="scrollToSection()"
      >
        <svg width="50" height="40" viewBox="0 0 50 40">
          <title>Logo</title>
          <use xlink:href="assets/symbols/logo.svg#logo" width="50" height="40" />
        </svg>
      </button>
    </div>

    <!-- Menu -->
    <div class="site-menu">
      <!-- Navigation -->
      {%- for section in site.sections -%}
      <div class="site-menu-item">
        <button
          class="nav-button hover-effect"
          id="{{ section.sectionID }}-nav"
          type="button"
          onclick="scrollToSection('{{ section.sectionID }}')"
        >
          <title>{{ section.sectionID | capitalize }} section</title>
          {{ section.sectionID | capitalize }}
        </button>
      </div>
      {%- endfor -%}

      <!-- Theme button -->
      <div class="site-menu-item">
        <button 
          class="theme-toggle hover-effect"
          type="button"
          onclick="toggleTheme()"
        >
          <svg class="light-theme-button" width="40" height="40" viewBox="0 0 40 40">
            <title>Light theme button</title>
            <use xlink:href="assets/symbols/sun.svg#sun" width="40" height="40" />
          </svg>
          <svg class="dark-theme-button" width="40" height="40" viewBox="0 0 40 40">
            <title>Dark theme button</title>
            <use xlink:href="assets/symbols/moon.svg#moon" width="40" height="40" />
          </svg>
        </button>
      </div>
    </div>

    <!-- Menu button -->
    <div class="site-menu-button">
      <button 
        class="menu-toggle hover-effect"
        type="button"
        onclick="toggleMobileMenu()"
      >
        <svg class="open-menu-button" width="35" height="35" viewBox="0 0 35 35">
          <title>Open navigation menu</title>
          <use xlink:href="assets/symbols/menu-open.svg#open-menu" width="35" height="35" />
        </svg>
        <svg class="close-menu-button" width="35" height="35" viewBox="0 0 35 35">
          <title>Close navigation menu</title>
          <use xlink:href="assets/symbols/menu-close.svg#close-menu" width="35" height="35" />
        </svg>
      </button>
    </div>
  </nav>
</header>
