<!-- Head -->
<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-QZXGQKD8R4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-QZXGQKD8R4');
  </script>

  <!-- Meta -->
  <meta charset="”utf-8″" />
  <meta name="language" content="English" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ site.title }}</title>

  {% seo title = false %}

  <!-- Stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/main.css' | absolute_url }}" />

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="assets/symbols/logo-favicon.svg" />
  <link rel="icon" type="image/png" hyref="assets/images/logo-favicon.png" />

  <!-- Scripts -->
  {%- assign liquid_scripts = site.pages | where_exp:"item", "item.path contains 'assets/js'" -%}
  {%- assign all_scripts = site.static_files | where: "extname", ".js" | concat: liquid_scripts -%}
  {% for script in all_scripts -%}
  {%- if script.url %}
  <script src="{{ script.url }}" defer="defer"></script>
  {%- else %}
  <script src="{{ script.path }}" defer="defer"></script>
  {%- endif -%}
  {% endfor -%}
</head>
