<!-- Landing -->
<div class="landing">
  <!-- Text -->
  <span class="landing-top-text parallax">Hello, I'm</span>
  <h1 class="landing-main-text parallax">Sirio Bambino.</h1>
  <h1 class="landing-main-text parallax">I like to&nbsp;<span></span></h1>

  <!-- Line -->
  <hr class="landing-hr parallax" />

  <!-- Arrows -->
  <button title="Logo" class="landing-arrows parallax" onclick="scrollToSection('about')">
    <svg width="35px" height="40px" viewBox="0 0 35 40">
      <title>Navigation arrows</title>
      <use xlink:href="assets/symbols/arrows.svg#arrows" width="35px" height="40px" />
    </svg>
  </button>

  <!-- Shape divider -->
  {% include shape-divider.html class="first" -%}
</div>
