// Include the padding in the total size of all elements
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  // Smoothly animate the scroll position, instead of a straight jump
  scroll-behavior: smooth;
  // Change default font size to 10px
  font-size: 62.5%;
}

// Set the style rules for the body
body {
  font-family: $font-body;
  font-weight: $regular;
  font-size: 2.5rem;
  line-height: 2.75em;
  color: var(--text-colour);
  background-color: var(--background-primary-colour);
}

// Set the style rules for all headings in the document
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  font-weight: $medium;
  color: var(--text-colour);
}

// Set the style rules for all anchors in the document
a {
  text-decoration: none;
  font-weight: $light;
  color: var(--link-colour);
}

// Set the style rules for the content
.page-content {
  // Set max width so content resizes
  max-width: 100%;

  // Set margin under each section's heading
  h2 {
    margin-bottom: 5rem;
  }

  // Set padding for each section
  .content-section {
    padding: 5vh $site-side-padding 150px;
  }

  // Alternate the 2 background colours on each section
  .content-section:nth-of-type(odd) {
    background-color: var(--background-primary-colour);
    @include shape-divider-colour($background-primary-colour);
  }

  .content-section:nth-of-type(even) {
    background-color: var(--background-secondary-colour);
    @include shape-divider-colour($background-secondary-colour);
  }
}

// Media query for small screens
@media (max-width: 768px) {
  .page-content {
    .content-section {
      padding: 5vh $site-side-padding-mobile 150px;
    }
  }
}
