.footer {
  // Set up flexbox layout to align elements
  display: flex;
  justify-content: center;
  align-items: center;

  // Set footer height
  height: $footer-height;

  // Make font size dependent on screen width but clamp it
  font-size: $footer-font-size;

  // Set a different background colour depending on the number of sections
  &.primary {
    background-color: var(--primary-colour);
  }

  &.secondary {
    background-color: var(--secondary-colour);
  }
}
