// Set the style rules for elements in the header
.site {
  &-header {
    // Make the header fixed at the top
    position: fixed;
    top: 0;

    // Set the header width to the entire width of site
    width: 100%;
    z-index: 5;

    // Set the header height and background colour
    height: $header-height;
    background-color: hsl(240, 7%, 20%);

    // Change all svg fill colour
    svg {
      fill: hsl(210, 24%, 89%);
    }
  }

  &-nav {
    // Set the nav height to the entire width of the header
    height: 100%;

    // Set up flexbox layout
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Set the nav padding
    padding: 0 $header-side-padding;
  }
}
