// Set the style rules for elements in the header
.site {
  &-header {
    // Make the header fixed at the top
    position: fixed;
    top: 0;

    // Set the header width to the entire width of site
    width: 100%;
    z-index: 5;

    // Set the header height and background colour
    height: $header-height;
    background-color: var(--header-colour);

    // Change all svg fill colour
    svg {
      fill: var(--icon-colour);
    }
  }

  &-nav {
    // Set the nav height to the entire width of the header
    height: 100%;

    // Set up flexbox layout
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Set the nav padding
    padding: 0 $header-side-padding;
  }

  &-logo {
    // Set up flexbox layout to align element
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      // Set up flexbox layout to align element
      display: flex;
      justify-content: center;
      align-items: center;

      // Remove all styling from button
      background-color: transparent;
      outline: none;
      border: 0px transparent solid;
      cursor: pointer;

      // Set width of logo svg
      svg {
        width: 5rem;
      }
    }
  }
}
