.site {
  &-header {
    // Make header fixed at the top
    position: fixed;
    top: 0;

    // Set header width to the entire width of site
    width: 100%;

    // Increase z index to prevent other elements from covering header
    z-index: 5;

    // Set header height and background colour
    height: $header-height;
    background-color: var(--header-colour);

    // Change all svg fill colour
    svg {
      fill: var(--icon-colour);
    }
  }

  &-nav {
    // Set nav height to the entire height of header
    height: 100%;

    // Set up flexbox layout to align elements
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Set nav padding
    padding: 0 $header-side-padding;
  }

  &-logo {
    // Set up flexbox layout to align element
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      // Set up flexbox layout to align element
      display: flex;
      justify-content: center;
      align-items: center;

      // Remove all styling from button
      @include buttonNoStyle();

      // Set width of logo svg
      svg {
        width: 5rem;
        height: 4rem;
      }
    }
  }

  &-menu {
    // Set up flexbox layout to align elements
    display: flex;
    flex-direction: row;

    &-item {
      // Set up flexbox layout to align element
      display: flex;
      justify-content: center;
      align-items: center;

      // Set the side margins for nav item
      margin-left: $header-nav-items-margin;

      button {
        // Set the font styling for nav item
        font-size: $header-nav-font-size;
        font-family: $font-heading;
        color: var(--text-colour);

        // Remove all styling from button
        @include buttonNoStyle();

        // Set hover behaviour
        @include hover();
      }

      // Set a different colour for current section
      .current {
        color: var(--accent-colour);
      }
    }

    .theme-toggle {
      // Set hover behaviour
      @include hover(fill);

      // Set width of theme toggle svg
      svg {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  &-menu-button {
    // Hide mobile menu button on bigger screens
    display: none;

    // Change position to absolute to stop it from interfering with the parent's flexbox layout
    position: absolute;

    // Align the button to the center
    justify-content: center;
    align-items: center;

    // Set the mobile menu button height to the entire height of the header
    height: 100%;

    .menu-toggle {
      // Remove all styling from button
      @include buttonNoStyle();

      // Set hover behaviour
      @include hover(fill);

      // Set width of mobile menu button svg
      svg {
        width: 3.5rem;
        height: 3.5rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .site {
    // Set a different nav padding
    &-nav {
      padding: 0 $header-side-padding-mobile;
    }

    &-menu {
      // Make the menu fixed with the header
      position: fixed;

      // Hide the menu until the menu button is pressed
      display: none;

      // Set up a different flexbox layout to align elements vertically
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      // Set the menu width to cover the entire page
      width: 105vw;

      // Move menu below the header
      top: $header-height;

      // Move menu to the left as it starts from the padding position
      transform: translateX(-$header-side-padding-mobile);

      // Set the background colour
      background-color: var(--header-colour);

      // Set different height, margin and font size
      &-item {
        height: $header-nav-items-height-mobile;
        margin: $header-nav-items-margin-mobile 0;

        .nav-button {
          font-size: $header-nav-font-size-mobile;
        }
      }
    }

    &-menu-button {
      // Unhide mobile menu button
      position: relative;
      display: flex;

      // Display open menu svg
      .open-menu-button {
        display: block;
      }

      // Hide close menu svg
      .close-menu-button {
        display: none;
      }
    }

    &-open-menu {
      // Unhide menu
      .site-menu {
        display: flex;
      }

      // Hide open menu svg
      .open-menu-button {
        display: none;
      }

      // Display close menu svg
      .close-menu-button {
        display: block;
      }
    }
  }
}
