.landing {
  // Set landing width and height to cover the entire page
  height: 105vh;
  width: 100%;

  // Position and align elements
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  // Set up background gradient image
  background-image: linear-gradient(
    140deg,
    var(--background-secondary-colour) 10%,
    var(--background-primary-colour)
  );

  // Scale background image to cover the whole container
  background-size: cover;

  // Create parallax effect for background image
  background-attachment: fixed;

  // Set background colour and hide y overflow
  background-color: var(--background-secondary-colour);
  overflow-y: hidden;

  // Set colour of span text to accent colour
  span {
    @include accent;
  }

  // Set font size and line height of top text
  &-top-text {
    font-size: $landing-top-text-size;
    line-height: 1em;
  }

  &-main-text {
    // Set font size and line height of main text
    font-size: $landing-main-text-size;
    line-height: 1.4em;

    // Set up text shadow
    text-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;

    // Set colour of span text to accent colour and set position
    span {
      @include accent;
      position: relative;
    }

    // Use before pseudo-element to create a text cursor
    span::before {
      content: "";

      // Position text cursor
      position: absolute;
      top: 50%;
      right: -2.5%;
      transform: translateY(-45%);

      // Set height and width of text cursor
      height: $landing-text-cursor-height;
      width: $landing-text-cursor-width;

      // Set colour to accent colour
      background: var(--accent-colour);

      // Set up blinking animation
      animation: blink 0.8s steps(1, end) infinite;
    }

    // Stop blinking animation
    span.stop-blinking::before {
      animation: none;
    }

    // Keyframes for blink animation
    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
  }
}
