.projects-content {
  // Set position to relative to provide anchor to absolute elements
  position: relative;

  // Set up text styling
  font-size: clamp(1rem, 1vw, 2rem);
  line-height: clamp(1.25rem, 1.15vw, 2.25rem);
  text-align: center;

  .frames {
    // Set position to absolute so that frames can be under the projects
    position: absolute;

    // Set size to the full size of parent element
    width: 100%;
    height: 100%;

    // Set up grid layout to align elements
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;

    line-height: 5rem;

    .frame {
      // Set the max height and aspect ratio
      max-height: 60rem;
      aspect-ratio: 1 / 1.25;

      // Set background colour
      background-color: var(--primary-colour);

      // Scale frame up slightly
      transform: scale(1.05);
    }

    // Select a different clip path for each frame from a list
    @for $i from 1 through 3 {
      .index-#{$i} {
        $key: random(length($frames));
        clip-path: nth($frames, $i);
      }
    }
  }

  .projects {
    // Set up grid layout to align elements
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;

    .project {
      // Set up flexbox layout to align elements
      display: flex;
      align-items: center;
      justify-content: center;

      // Set the max height and aspect ratio
      max-height: 60rem;
      aspect-ratio: 1 / 1.25;

      // Set up text shadow
      // text-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;

      a {
        // Set size to the full size of parent element
        width: 100%;
        height: 100%;

        // Set text colour
        color: var(--text-colour);

        // Set up transition
        transition: transform 0.15s ease-out;

        // Make slightly bigger on hover
        &:hover {
          transform: scale(1.05);
        }
      }

      .border {
        // Set up grid layout to align elements
        display: flex;
        align-items: center;
        justify-content: center;

        // Set size to the full size of parent element
        width: 100%;
        height: 100%;

        // Set background colour
        background-color: var(--tertiary-colour);

        .project-wrapper {
          // Set up grid layout to align elements
          display: flex;
          flex-direction: column;
          gap: 0.5em;

          // Set size smaller to give enough space for clip path
          width: 80%;
          height: 80%;

          .thumbnail {
            // Set flexbox child parameters
            flex: 0 0 auto;

            // Set height
            height: 45%;

            img {
              // Ensure image fills the entire thumbnail div
              width: auto;
              height: 100%;

              max-width: 100%;

              // Set up shadow for thumbnail
              box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.3);
            }
          }

          // Set top margin to auto to center text vertically
          p {
            margin-top: auto;
          }

          .tools-wrapper {
            // Set up grid layout to align elements
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 0.4em;

            // Set top margin to auto to push tools to the bottom
            margin-top: auto;

            .tools {
              // Set display to give gaps between the divs
              display: inline-block;

              // Set background and text colour
              background-color: var(--accent-colour);
              color: hsl(210, 24%, 89%);

              // Set line height
              line-height: 1.75rem;

              // Set up padding to center text vertically
              padding: 0.6em 0.3em 0.3em;

              // Set up text and div shadow
              text-shadow: rgba(0, 0, 0, 0.3) 1.95px 1.95px 2.6px;
              box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.3);
            }
          }
        }
      }

      // Select a different clip path for each border from a list
      @for $i from 1 through 3 {
        .index-#{$i} {
          $key: random(length($borders));
          clip-path: nth($borders, $i);
        }
      }
    }
  }
}
