.shape-divider {
  // Make height based on screen width and clamp it
  height: clamp(7.5rem, 12.5vw, 15rem);

  // Set the width of div to the entire width of the body
  width: 100%;

  // Increase z index to prevent other elements from covering div
  z-index: 2;

  // Hide div overflow and ignore pointer events
  overflow: hidden;
  pointer-events: none;

  // Move div down slightly to prevent small gaps
  transform: translateY(5px);

  // Make svg stretch and squash to the width of the viewport
  svg {
    position: relative;
    display: block;
    width: 102.5%;
    height: 100%;
  }
}
