// Import fonts with font face
@font-face {
  font-family: "Hind Guntur";
  src: url("../assets/fonts/HindGuntur-Light.ttf"), url("../assets/fonts/HindGuntur-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Medium.ttf");
}

// Variables for font families
$font-body: "Hind Guntur", sans-serif;
$font-heading: "Inter", sans-serif;

// Variables for font weights
$light: 300;
$regular: 400;
$medium: 500;

// Variables for site styling
$site-content-width: 70%;
$site-content-width-mobile: 90%;
$site-content-width-mobile-fixed: 500px;

$site-font-size: clamp(2rem, 2.5vw, 3rem);
$site-line-height: 1.5em;

// Variables for header styling
$header-height: 7rem;

$header-side-padding: calc($site-content-width / 7);
$header-side-padding-mobile: calc($site-content-width / 14);

$header-nav-font-size: 2.5rem;
$header-nav-font-size-mobile: 3rem;

$header-nav-items-margin: 5vw;
$header-nav-items-margin-mobile: calc(2vh + 0px);
$header-nav-items-height-mobile: 6rem;

// Variables for landing styling
$landing-text-base-size: 3vw;
$landing-text-base-min: 3rem;
$landing-text-base-max: 5rem;

$landing-top-text-multiplier: 1;
$landing-main-text-multiplier: 1.4;

// Variables for projects section styling
$frames: polygon(51% 0%, 98% 4%, 95% 51%, 98% 98%, 54% 95%, 5% 100%, 5% 34%, 0% 1%),
  polygon(71% 1%, 98% 4%, 95% 51%, 98% 98%, 54% 95%, 6% 100%, 5% 53%, 1% 5%),
  polygon(36% 4%, 96% 2%, 98% 49%, 96% 100%, 66% 97%, 3% 99%, 8% 62%, 3% 1%);

$borders: polygon(70% 5%, 98% 1%, 95% 69%, 99% 99%, 35% 95%, 2% 98%, 6% 50%, 0 0),
  polygon(46% 5%, 98% 1%, 93% 39%, 97% 96%, 64% 95%, 0 100%, 5% 59%, 2% 3%),
  polygon(55% 6%, 99% 1%, 94% 41%, 100% 100%, 59% 98%, 5% 98%, 9% 71%, 5% 1%);

// Variables for contact section styling
$contact-form-width: 50rem;
$contact-form-notch-size: 4px;
$contact-form-input-height: 4.5rem;
$contact-form-textarea-height: 12rem;

$contact-info-font-size: clamp(1.5rem, 2vw, 2rem);
$contact-info-icon-size: clamp(3rem, 3vw, 3.5rem);

// Variables for footer styling
$footer-height: 4rem;
$footer-font-size: clamp(0.5rem, 3.5vw, 2rem);
