// Import font families
@import url("https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

// Variables for font families
$font-body: "Hind Guntur", sans-serif;
$font-heading: "Inter", sans-serif;

// Variables for font weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// Variables for site styling
$site-side-padding: 18vw;
$site-side-padding-mobile: calc($site-side-padding * 0.25);
$site-font-size: clamp(2rem, 2.5vw, 2.5rem);
$site-line-height: 1.5rem;

// Variables for header styling
$header-height: 7rem;
$header-side-padding: calc($site-side-padding * 0.5);
$header-side-padding-mobile: calc($site-side-padding * 0.25);
$header-nav-items-margin: 5vw;
$header-nav-items-margin-mobile: calc(2vh + 0px);
$header-nav-font-size: 2.5rem;
$header-nav-font-size-mobile: 3rem;
$header-nav-items-height-mobile: 6rem;

// Variables for landing
$landing-top-text-size: clamp(3rem, 2.75vw, 4rem);
$landing-main-text-size: clamp(5rem, 4.5vw, 6.5rem);
$landing-text-cursor-width: clamp(3px, 0.5vw, 7px);
$landing-text-cursor-height: clamp(60px, 5vw, 75px);
$landing-line-height: clamp(3px, 0.5vw, 4px);
$landing-line-width: calc(40vw + 300px);
$landing-line-margin: clamp(15px, 5vw, 40px);

// Variables for footer styling
$footer-height: 4rem;
