$accent-colour: hsl(248, 49%, 64%);

$primary-colour: hsl(240, 7%, 17%);
$secondary-colour: lighten($primary-colour, 6%);
$tertiary-colour: lighten($primary-colour, 28%);

$header-colour: darken($primary-colour, 3%);

$text-colour: hsl(210, 24%, 89%);
$text-alternate-colour: hsl(220, 9%, 46%);

$icon-colour: $text-colour;

$link-colour: $accent-colour;
$link-hover-colour: lighten($link-colour, 6%);

$error-colour: hsl(351, 90%, 56%);

$scrollbar-background-colour: hsl(240, 7%, 16%);
$scrollbar-handle-colour: lighten($scrollbar-background-colour, 4%);

@mixin dark-theme {
  html,
  body {
    --accent-colour: #{$accent-colour};

    --primary-colour: #{$primary-colour};
    --secondary-colour: #{$secondary-colour};
    --tertiary-colour: #{$tertiary-colour};

    --header-colour: #{$header-colour};

    --text-colour: #{$text-colour};
    --text-alternate-colour: #{$text-alternate-colour};

    --icon-colour: #{$icon-colour};

    --link-colour: #{$link-colour};
    --link-hover-colour: #{$link-hover-colour};

    --scrollbar-background-colour: #{$scrollbar-background-colour};
    --scrollbar-handle-colour: #{$scrollbar-handle-colour};
  }
}

html[data-theme="dark"] {
  @include dark-theme;
}
