$accent-colour: hsl(248, 54%, 66%);

$background-primary-colour: hsl(240, 8%, 81%);
$background-secondary-colour: hsl(240, 11%, 85%);

$header-colour: darken($background-primary-colour, 2%);

$text-colour: hsl(0, 0%, 20%);
$icon-colour: $text-colour;

$link-colour: $accent-colour;
$link-hover-colour: lighten($link-colour, 7%);

$scrollbar-background-colour: hsl(240, 6%, 87%);
$scrollbar-handle-colour: darken($scrollbar-background-colour, 10%);

@mixin light-theme {
  html,
  body {
    --accent-colour: #{$accent-colour};

    --background-primary-colour: #{$background-primary-colour};
    --background-secondary-colour: #{$background-secondary-colour};

    --header-colour: #{$header-colour};

    --text-colour: #{$text-colour};
    --icon-colour: #{$icon-colour};

    --link-colour: #{$link-colour};
    --link-hover-colour: #{$link-hover-colour};

    --scrollbar-background-colour: #{$scrollbar-background-colour};
    --scrollbar-handle-colour: #{$scrollbar-handle-colour};
  }
}

html[data-theme="light"] {
  @include light-theme;
}
