$accent-colour: hsl(248, 53%, 67%);

$primary-colour: hsl(240, 8%, 74%);
$secondary-colour: lighten($primary-colour, 7%);
$tertiary-colour: darken($primary-colour, 7%);

$header-colour: darken($primary-colour, 10%);

$text-colour: hsl(0, 0%, 20%);
$text-alternate-colour: hsl(220, 9%, 46%);

$icon-colour: $text-colour;

$link-colour: $accent-colour;
$link-hover-colour: lighten($link-colour, 7%);

$error-colour: hsl(351, 90%, 56%);

$scrollbar-background-colour: hsl(240, 6%, 87%);
$scrollbar-handle-colour: darken($scrollbar-background-colour, 10%);

@mixin light-theme {
  html,
  body {
    --accent-colour: #{$accent-colour};

    --primary-colour: #{$primary-colour};
    --secondary-colour: #{$secondary-colour};
    --tertiary-colour: #{$tertiary-colour};

    --header-colour: #{$header-colour};

    --text-colour: #{$text-colour};
    --text-alternate-colour: #{$text-alternate-colour};

    --icon-colour: #{$icon-colour};

    --link-colour: #{$link-colour};
    --link-hover-colour: #{$link-hover-colour};

    --scrollbar-background-colour: #{$scrollbar-background-colour};
    --scrollbar-handle-colour: #{$scrollbar-handle-colour};
  }
}

html[data-theme="light"] {
  @include light-theme;
}
