<!DOCTYPE html>
<html lang="en">
  {% include head.html -%}

  <body>
    {% include header.html -%}
    {% include landing.html -%}

    <main class="page-content">
      {% comment %} Calculate wether the amound of sections is odd or even {% endcomment %}
      {% assign sectionCountModulo = site.sections.size | modulo : 2 %}
      
      {%- for section in site.sections -%}
      <!-- {{ section.sectionID | capitalize }} section -->
      <div class="{{ section.sectionID }} content-section" id="{{ section.sectionID }}">
        <h2>{{ section.title }}</h2>
        {{ section.output }}
        {%- include shape-divider.html -%}
      </div>
      {%- endfor -%}
    </main>

    {% comment %} Use sectionCountModulo to determine the colour of the footer {% endcomment %}
    {% if sectionCountModulo == 0 %}
    {%- include footer.html colour="primary" -%}
    {% else %}
    {%- include footer.html colour="secondary" -%}
    {% endif %}
  </body>
</html>
