<div class="projects-content">
  <!-- Frames for projects -->
  <div class="frames">
    {% for project in site.data.projects.entries %}
    <div class="frame index-{{ forloop.index }}"></div>
    {% endfor %}
  </div>

  <!-- Projects -->
  <div class="projects">
    {% for project in site.data.projects.entries %}
    <div class="project">

      <!-- Link to project repository -->
      <a href="{{ project.url }}" target="_blank" rel="noopener noreferrer">

        <!-- Border for project -->
        <div class="border index-{{ forloop.index }}">
          <div class="project-wrapper">

            <!-- Title -->
            <h3>{{ project.title }}</h3>

            <!-- Thumbnail -->
            <div class="thumbnail">
              <picture>
                <img src="{{ project.thumbnail }}" alt="Thumbnail of {{ project.title }}" width="350" height="200" />
              </picture>
            </div>

            <!-- Description -->
            <p>
              {{ project.description }}
            </p>
            
            <!-- Tools -->
            <div class="tools-wrapper">
              {% assign tools = project.tools | split: " " %}
              {% for tool in tools %}
              <div class="tools">{{ tool }}</div>
            {% endfor %}
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
